.nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: rgb(89, 146, 233)
}

.button {
    font: bold 14px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #1d2361;
    padding: 4px 8px 4px 8px;
    border-top: 4px solid #CCCCCC;
    border-right: 4px solid #333333;
    border-bottom: 4px solid #333333;
    border-left: 4px solid #CCCCCC;
  }

  span:before{
    content:" "; 
    display:inline-block; 
    width:16px;
}

h1 {
  font-size: 60px;
  text-align: left;
  margin: 0;
  padding: 20px 0;    
  color: #50aa94;
  text-shadow: 3px 3px 1px #214547;
}


