<html lang ="en">
  <head>
    <title>TodoApp</title>
  </head>

  <body>
    <header>
      <h1>How it works</h1>
    </header>

    <nav>
       <form>
         <input type="search" name="q" placeholder="enter keyword">
         <input type="submit" value="Go!">
       </form>
     </nav>

    <!-- Here is our page's main content -->
    <main>

      <!-- It contains an article -->
      <article>
        <br>
        <h2>To-Do List Application</h2>
        <br>

        <p>Welcome to your one stop shop to-do list. Please navigate with the buttons above to start creating your list.</p>

        <h3>Tech Stuff</h3>

        <p>This application was created using HTML, CSS, JS, and Angular.</p>
        <p>The app employs routing, forms, components, services, and is hosted on firebase.</p>
      </article>


    </main>
    <footer>
      <p>©Copyright 2020 by KRIS.</p>
    </footer>

  </body>
</html>